<h1>Listing categories</h1>

<table>
  <tr>
    <th>Category name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= link_to(category.category_name,  {:controller => "listings", :action => 'indexbycategory',:category_id => category.id}) %></td>
  </tr>
<% end %>
</table>

<br />


